
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    max-width: 100%;
}

.nav-left {
    display: flex;
    
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-left img {
    margin: 0 0.7rem;
    cursor: pointer;
    width: 1.7rem;
}

.search-div {
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    
}

.search-div img {
    width: 1.5rem;

}

.search-div input {
    width: 30vw;
    height: 2rem;
}


.search-div img, .search-div input {
    margin: 0 0.7rem;
    cursor: pointer;

}



.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-right img {
    margin: 0 0.7rem;
    width: 1.5rem;
    cursor: pointer;
}

.main {
    background-color: #f9f9f9;
    display: flex;
    padding: 4vh 0;
    width: 100%;
    justify-content: flex-end;

}

.video {
    width: 65vw;
    margin-right: 2vw;
}



.description-sec {
    padding: 0.7rem 0;

}

.description-info a, .description-info h2, .description-info h4 {
    margin: 0.6rem 0;
}

.description-info a {
    font-size: 0.9rem;
}

.description-info h2 {
    font-size: 1rem;
    font-weight: 600;
}

.description-info h4 {
    font-size: 0.8rem;
    color: #242424;
    font-weight: 600;
}

.description-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.3rem 0;
    padding: 0.7rem 0;
}

.icons {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.icons h4 {
    font-size: 0.9rem;
    font-weight: 600;
}

.icons img {
    width: 1rem;
    margin-right: 0.5rem;
}




.sidebar {
    width: 30vw;
    margin-right: 0.5vw;

}

.related {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.6rem;
}

.related button {
    color: black;
    background-color: #ececec;
    border: #a5a3a3 1px solid;
    padding: 0.4rem 0.8rem;
    margin: 5px 10px;
    border-radius: 20px;
}

.active-btn {
    background-color: black !important;
    color: white !important;
    border: none !important;
}

.suggested-videos {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
}

.suggested-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.suggested-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.4rem;

}

.suggested-info h5 {
    margin-bottom: 0.3rem;
}



.suggested-info p {
    color: #606060;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.2rem;
}

.video-img {
    width: 10rem;
    position: relative;
}

.video-img img {
    width: 100%;
    background-size: contain;
}

.duration {
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 2px;
    font-size: 0.8rem;
}

.subscription {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}

.channel {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.channel-img {
    width: 3rem;
    margin-right: 0.7rem;
}

.channel-img img {
    border-radius: 50%;
    width: 100%;
}

.subscription-btn button{
    background-color: #c00;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}   

.comments-num h4 {
    font-weight: 400;
    margin: 0.8rem 0;
}

.user-info {
    display: flex;
    align-items: center;
}


.user-img {

    margin-right: 0.8rem;
}

.user-img button  {
    background-color: #c00;
    padding: 0.6rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    color: white;
}

.user-text {
    width: 100%;
}

.user-text input {
    width: 100%;
    height: 1.5rem;
    border: none;
    background-color: #f9f9f9;
    border-bottom: #606060 1px solid;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.user-text label {
    font-size: 0.8rem;
    color: #606060;
}

.user-text label a {
    text-decoration: none;
}


.action {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cancel {
    background-color: #f9f9f9;
    border: none;
    padding: 0.6rem 0.9rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    color: #606060;
    font-weight: 600;
    cursor: pointer;
}

.comment {
    background-color: none;
    border: none;
    padding: 0.6rem 0.9rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    color: #606060;
    font-weight: 600;
    cursor: default;
}


.new-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-user-text {
    display: flex;
    flex-direction: column;
    padding: 0.9rem 0;
}


.new-user-name h5 {
    font-weight: 600;
    margin: 0.5rem 0;
}


.new-user-name h5 span {
    font-weight: 300;
    color: #606060;
}



/* Media Query */

@media only screen and (max-width: 920px) {
    .main {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 4vh 3vh ;
    }

    .video {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .icons h4 {
        font-size: 0.8rem;
        font-weight: 600;
    }
    
}

@media only screen and (max-width: 500px) {

    /* Nav images */
    .nav-right img, .nav-left img {
        margin: 0 0.5rem;
        width: 1rem;
        cursor: pointer;
    }

    .search-div img {
        width: 1rem;
    
    }
    
    .search-div input {
        width: 30vw;
        height: 1.5rem;
    }
    
    
    .search-div img, .search-div input {
        margin: 0 0.5rem;
    
    }




    /* Icons */
    .icons img {
        width: 0.7rem;
    }

    .icons h4 {
        font-size: 0.7rem;
    }

    .icons {
        margin: 0 0.4rem;
    }

    
    
}

@media only screen and (max-width: 360px) {
        /* Nav images */
        .nav-right img, .nav-left img {
            margin: 0 0.3rem;
            width: 0.8rem;
            cursor: pointer;
        }
    
        .search-div img {
            width: 0.8rem;
        
        }
        
        .search-div input {
            width: 30vw;
            height: 1.3rem;
        }
        
        
        .search-div img, .search-div input {
            margin: 0 0.3rem;
        
        }
    
    
    
    
        /* Icons */
        .icons img {
            width: 0.5rem;
        }
    
        .icons h4 {
            font-size: 0.5rem;
        }
    
        .icons {
            margin: 0 0.2rem;
        }
    
    }